.card {
  background: var(--secondary) no-repeat padding-box;
  border-radius: 5px;
  padding: 15px 10px;
  min-height: 300px;
  min-width: 210px;
}

.card-content-container {
  background-color: blue;
  height: 240px;
}

.amount-and-sale-row {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.amount-input {
  background-color: var(--primary);
  color: grey;
  width: 20%;
}

.price-section {
  display: flex;
  justify-content: flex-start;
}

.actual-price {
  margin-right: 10px;
}

.strikethrough {
  color: red;
}

.previous-price {
  color: white;
}

.button-container {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
