.footer {
  background-color: var(--secondary);
}

.footer-container {
  width: 90%;
}

.footer-logos-section {
  display: flex;
  justify-content: center;
}

.chick-logo {
  margin-bottom: 10px;
}

.footer-social-media-section {
  display: flex;
  justify-content: center;
}

.footer-nav-section {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  margin-bottom: 40px;
}

.copyright-section {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .footer-container {
    height: 600px;
    width: 100%;
  }
  .footer-nav-section {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
}
