

.primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.accent {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: var(--secondary);
}

.default {
    background-color: var(--saturated-blue);
    border: 1px solid var(--blue);
    color: grey;
}