.header-container {
  display: flex;
  background-color: var(--secondary);
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

@media (max-width: 800px) {
  .nav-container {
    flex-direction: column;
    margin: 50px;
  }

  .header-container {
    height: 200px;
  }
}
