.header-container {
  display: flex;
  background-color: var(--secondary);
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.nav-item {
  display: flex;
  justify-content: center;
  width: 25%;
}

.arrow {
  margin-left: 10px;
  margin-right: 0;
}

.cart {
  margin-left: 0;
  margin-right: 10px;
}

.user-section {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
}

@media (max-width: 800px) {
  .nav-container {
    flex-direction: column;
    margin: 50px;
  }

  .header-container {
    height: 200px;
  }
}
